/* font-family: 'Open Sans';
font-family: 'Inconsolata'; */
html, body{
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display: none;
}

article{
  padding: 1rem;
}

h1{
  font-family: 'Open Sans';
  font-size: 3rem;
  text-align: center;
}

p{
  font-family: 'Inconsolata';
}

a:hover{
  color: lightgreen;
}

.back{
  font-family: 'Inconsolata';
  font-size: 1rem;
  position: absolute;
  top: 1%;
  left: 1%;
}

.cinema{
  background-color: pink;
  text-align: left !important;
}

.left-image{
  padding: 2rem;
  background: lightgreen;
}

.middle{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-image{
  width: 75%;
  max-width: 500px;
}
